
.azeret-mono-azeret{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 28px 140px 18px 140px;
    align-items: center;
    
}

.logo{
    font-family: "Azeret Mono";
    font-size: 28px;
}

.btn-download{
    border-radius: 16px;
    font-family: "Azeret Mono";
    background-color: white;
    padding: 20px 30px;
    max-height: 65px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600px;
   
}
/* section-1 */
main{
    background-image: url("../assets/Hero-bg.png");
    width: auto;
    height: 652px;
    
}
.head{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 998px;
    max-height: 581px;
    padding: 26px 25%;
    margin-bottom: 74px;

}
.img{
    margin-top: 26px;
    margin-bottom: 20px;
}
.head-title{
    font-size: 48px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 18px;
    line-height: 68px;

}
.head-subtitle{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
}

.btn-contact{
    padding: 24px 21px;
    background-color: rgba(13, 19, 33, 1);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 15px;
    font-weight: 400px;
    border-radius: 9px;
    margin-bottom: 25px;
    font-family: "Azeret Mono";
    cursor: pointer;
}


/* section2 start */

.web-container{
    margin-top: 30px;
    margin: 5% 18% 5% 15%;
    border-radius: 10px;
    text-align: center;
    max-width: 1200px;
    padding: 80px 110px;
    background-color: rgba(13, 19, 33, 0.02);
}

.item-1 , .item-3{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;

}

.item-1-info , .item-3-info {
    max-width: 477px;
}

.item-1-title , .item-2-title, .item-3-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}

.item-1-subtitle , .item-2-subtitle , .item-3-subtitle{
    font-size: 16px;
    line-height: 26px;
    color: rgba(13, 19, 33, 1);
    font-weight: 300;
}

.btn-item{
   padding: 12px 20px;
   background-color: white;
   font-family: "Azeret Mono";
   cursor: pointer;
}

.item-2{
    margin-top: 32px;
    display: flex;
    text-align: left;
    gap: 40px;
    padding: 48px;
    background-color: white;
    border-radius: 20px;
}

