
.azeret-mono-azeret{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 28px 140px 18px 140px;
    align-items: center;
    
}

.logo{
    font-family: "Azeret Mono";
    font-size: 28px;
}

.btn-download{
    border-radius: 16px;
    font-family: "Azeret Mono";
    background-color: white;
    padding: 20px 30px;
    max-height: 65px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600px;
   
}
/* section-1 */
main{
    background-image: url("../assets/Hero-bg.png");
    width: auto;
    height: 652px;
    
}
.head{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 998px;
    max-height: 581px;
    padding: 26px 25%;
    margin-bottom: 74px;

}
.img{
    margin-top: 26px;
    margin-bottom: 20px;
}
.head-title{
    font-size: 48px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 18px;
    line-height: 68px;

}
.head-subtitle{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
}

.btn-contact{
    padding: 24px 21px;
    background-color: rgba(13, 19, 33, 1);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 15px;
    font-weight: 400px;
    border-radius: 9px;
    margin-bottom: 25px;
    font-family: "Azeret Mono";
    cursor: pointer;
}


/* section2 start */

.web-container{
    margin-top: 30px;
    margin: 5% 18% 5% 15%;
    border-radius: 10px;
    text-align: center;
    max-width: 1200px;
    padding: 80px 110px;
    background-color: rgba(13, 19, 33, 0.02);
}

.item-1 , .item-3{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
    margin-top: 48px;

}

.item-1-info , .item-3-info {
    max-width: 477px;
}

.item-1-title , .item-2-title, .item-3-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgba(13, 19, 33, 0.7);
}

.item-1-subtitle , .item-2-subtitle , .item-3-subtitle{
    font-size: 16px;
    line-height: 26px;
    color: rgba(13, 19, 33, 1);
    font-weight: 300;
}

.btn-item{
   padding: 12px 20px;
   background-color: white;
   font-family: "Azeret Mono";
   cursor: pointer;
}

.item-2{
    margin-top: 32px;
    display: flex;
    text-align: left;
    gap: 40px;
    padding: 48px;
    background-color: white;
    border-radius: 20px;
}

/* section inspiration  */

.inspiration{
    margin-top: 30px;
    margin: 5% 18% 5% 15%;
    text-align: center;
}

.ins-info{
    max-width: 852px;
    text-align: center;
    margin: 5% 18% 5% 18%;

}

.ins-des{
    margin-bottom: 48px;
}


/* section- current target start  */
.target{
    justify-content: center;
    margin: 5% 18% 5% 15%;
    
}

.target-title{
    font-size: 32px;
    font-weight: 600px;
    text-align: center;
}

.target-info{
    padding: 0px 97px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 48px;
}

.target-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;

}

.skill-1{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(255, 76, 30, 0.05);
    border-radius: 30px;
    max-width: 364px;
    background-color: rgba(255, 76, 30, 0.05);
}
.skill-title{
    font-size: 24px;
    font-weight: bolder;
    line-height: 36px;
    margin-bottom: 8px;

}

.skill-description{
    font-size: 16px;
    line-height: 26px;
    font-weight: 200px;
    margin-bottom: 24px;

}

.btn-learn{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.skill-2{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(0, 76, 232, 0.05);
    border-radius: 30px;
    max-width: 364px;
    background-color: rgba(0, 76, 232, 0.05);
    
}

.skill-3{
    padding: 40px;
    box-shadow: 0px 6px 50px 0px rgba(255, 223, 0, 0.05);
    border-radius: 30px;
    max-width: 364px;
    background-color: rgba(255, 223, 0, 0.05);
    
}

/* section end  */

.end{
    justify-content: center;
    text-align: center;
    max-height: 313px;
    max-width: auto;
    margin: 5% 18% 5% 15%;
    background-image: url(../assets/handshake.jpg);
    align-items: center;   
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 64px 48px;
    margin-bottom: 100px;

}

.end-title{
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    color: white;
    margin-bottom: 16px;


}

.end-des{
    font-family: "Azeret Mono";
    color: white;
    font-size: 16px;
    font-weight: lighter ;
    line-height: 26px;
    margin-bottom: 24px;

}

.input-text{
    border: none;
    width: 548px;
    height: 57px;
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    font-family: "Azeret Mono";
    font-size: 16px;

}
.btn-end{
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 62px;
    margin-left: 16px;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 900px;
    padding: 17px 20px;
    cursor: pointer;

}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
}
